extends ../ui_layout

block content
  .ui.text.container.addBottomMargin
    img.intrepid-img(src='/images/Intrepid_PT_Determined.png')
    
block scripts
  script(src="/module_js/trolls/trolls_tut_guide_as.js")
  script(src="/module_js/base_introSteps.js")
  script(src='/module_js/voiceover.js')

block styles
  link(rel='stylesheet', href='/css/tut_guide.css')
