extends ../ui_layout

block content
  .ui.container.resultsAddBottomMargin
    .ui.stackable.column.grid
      .ui.column
        .insertPrint
        .ui.raised.segment.reflectionTopSegment
          h3.ui.header
            i.question.blue.icon
            .content
              | Reflect
  
          .ui.large.header(style="background-color: grey; color: white;")
            | Chat with Intrepid
          
          p#typing(style="text-align:center;") Intrepid is typing... 
          .content(style="background-color: #d3d3d3;")
            .column
              .ui.comments
                .comment
                  .content
                    .author Intrepid
                    .text 
                    .ui.left.pointing.label#congrat
                      p.ani_dot ......
              #reflect1.ui.comments(style="visibility: hidden")
                .comment
                  .content
                    .author Intrepid
                    .text 
                    .ui.left.pointing.label#q1
                      p.ani_dot ......  
              #r1.rightdialog(style="visibility: hidden")
                img.right.floated.mini.ui.image(src='/images/missing_photo.png')     
                .ui.right.pointing.label#a1 
                  p.ani_dot ...... 
              #feedback1.ui.comments(style="visibility: hidden")
                .comment
                  .content
                    .author Intrepid
                    .text 
                    .ui.left.pointing.label#f1
                      p.ani_dot ......
  
              #reflect2.ui.comments(style="visibility: hidden")
                .comment
                  .content
                    .author Intrepid
                    .text 
                    .ui.left.pointing.label#q2
                      p.ani_dot ......  
              #r2.rightdialog(style="visibility: hidden")
                img.right.floated.mini.ui.image(src='/images/missing_photo.png')     
                .ui.right.pointing.label#a2 
                  p.ani_dot ......
              #feedback2.ui.comments(style="visibility: hidden")
                .comment
                  .content
                    .author Intrepid
                    .text 
                    .ui.left.pointing.label#f2
                      p.ani_dot ...... 
            
              #jumping.ui.form
                .field
                  .ui.fluid.action.input
                    input(type='text' id="inputanswer" placeholder='Input your answer here')
                    .ui.blue.button#replybutton Reply
block scripts
  script(src="/module_js/base_start.js")
  script(src="/module_js/trolls/trolls_reflect.js")

block styles
  link(rel='stylesheet', href='/css/start.css')
    