.ui.warning.message {
    display: none;
}


/* Learn section */

.segment.removePadding {
    padding: 0;
}

.segment.learnSegment {
    padding: 14px 0 14px 0;
}

.button.showLearnSectionButton {
    margin-top: 14px;
    margin-bottom: 14px;
}

.circle.bullet {
    text-indent: 8em !important;
    font-size: 8px !important;
}


/* Key terms section */

.button.showKeyTermsButton {
    margin-top: 14px;
}

.keyTermDefinition {
    font-weight: 600;
    vertical-align: middle;
}

.keyTermDefinition ul {
    font-weight: 400;
}

#step11 {
   margin-bottom: 200px; 
}

.rightdialog {
    float: right;
    margin-right: 5px;
}

#reply {
    margin-bottom: 0;
}

.ani_dot {
    font-family: simsun;    
}
:root .ani_dot { 
    display: inline-block;
    width: 1.5em;
    vertical-align: bottom;
    overflow: hidden;
}
@-webkit-keyframes dot {
    0% { width: 0; margin-right: 1.5em; }
    33% { width: .5em; margin-right: 1em; }
    66% { width: 1em; margin-right: .5em; }
    100% { width: 1.5em; margin-right: 0;}
}
.ani_dot {
    -webkit-animation: dot 3s infinite step-start;
}

@keyframes dot {
    0% { width: 0; margin-right: 1.5em; }
    33% { width: .5em; margin-right: 1em; }
    66% { width: 1em; margin-right: .5em; }
    100% { width: 1.5em; margin-right: 0;}
}
.ani_dot {
    animation: dot 3s infinite step-start;
}