extends ui_layout

block content
  .twelve.wide.computer.fourteen.wide.tablet.sixteen.wide.mobile.column.centered
    .ui.raised.segment.mainIntroSegment.centerText
      h1.ui.block.center.aligned.header
        | Welcome to DART!
      //- a.ui.left.aligned.card.welcomePageCard(href='javascript:void(0);', onclick='javascript:startIntro();')
      //-   .image.left.aligned
      //-     img(scr="my.png")
      .content
      //-  .header#cardTitle
      
      //- h1.ui.center.aligned.header
      //-   | Phishing 
      .ui.stackable.two.column.grid
        .ui.column
            h3.ui.center.aligned.header.padding
              | Agenda
            .ui.tiny.steps.vertical
              .step.glowing-box.paleYellow#learn
                i.book.icon
                .content
                  .title LEARN
                  .title key ideas
              .step.glowing-box.paleGreen#practice
                i.edit.icon
                .content
                  .title PRACTICE
                  .title social media skills
              .step.glowing-box.palePurple#reflect
                i.question.icon
                .content
                  .title REFLECT
                  .title on what you did  
        .ui.column
          .ui.basic.segment.centerText
            case condis 
              when "as": .ui.big.green.labeled.icon.button.getStartedButton(onclick="window.location.href= '/start_as/trolls'")
                  i.rocket.icon
                  | Click here to get started!!
              when "s": .ui.big.green.labeled.icon.button.getStartedButton(onclick="window.location.href= '/start_s/trolls'")
                  i.rocket.icon
                  | Click here to get started!! 
              when "a": .ui.big.green.labeled.icon.button.getStartedButton(onclick="window.location.href= '/start_a/trolls'")
                  i.rocket.icon
                  | Click here to get started!!
              when "n": .ui.big.green.labeled.icon.button.getStartedButton(onclick="window.location.href= '/start/trolls'")
                  i.rocket.icon
                  | Click here to get started!!
          


block scripts
  script(src="/module_js/base_intro.js")

  script.
    function getQueryVariable(variable){
      var query = window.location.search.substring(1));
      var vars = query.split("&");
      for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split("=");
        if (pair[0] == variable) {
          return pair[1];
        }
      }
      return null;
    }  

    function getNewURL(){
      var condition = getQueryVariable("c");
      var id = getQueryVariable("u");
      var newURL = "/start_"+ condition + "/trolls/?u=" + id;
      console.log(newURL);

      return newURL;
    }

  
block styles
  link(rel='stylesheet', href='/css/intro.css')  

